h1, label{
    font-family: $monserrat;
    color: $primary;
}

h2{
    font-family: $monserrat;
    color: $complement-three;
}

h3{
    font-family: $monserrat;
    color: $complement-two;
}

p, input{
    font-family: $monserrat;
    color: $complement;
}

a{
    font-family: $monserrat;
    color: $complement;
}